<!--    
# ================================================================
#   Name:           base html
#   Description:    Added CDN for chart.js
#   Last Changed:   3/19/23
#   Changed By:     Reagan Kelley
#   Patch Notes:    None
# ================================================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

     
     {% if title %}
            <title>{{ title }}</title>
       {% else %}
            <title>Emma Dashboard</title>
     {% endif %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
     <body style="background-color:#E5E4E2;"></body>
     {% block content %} {% endblock %}
</body>
</html>