
{{ current_graph.title }} <br>
{{ current_graph.type }} <br>
{{ current_graph.x_labels }} <br>
{{ current_graph.datasets[0]['data'] }} <br>
{{ current_graph.datasets[0]['label'] }}


<div>
  <canvas id="myChart" max-width="50px" max-height="50px" style="border:1px solid #000000;">
  </canvas>
</div>
  
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: '{{ current_graph.type }}',
      data: {
        labels: {{ current_graph.x_labels | safe }},
        datasets: [{
          label: "{{ current_graph.datasets[0]['label'] | safe }}",
          data: {{ current_graph.datasets[0]['data'] | safe }},
          borderColor: "{{ current_graph.datasets[0]['border_color'] }}",
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>