<!--    
# ================================================================
#   Name:           chart html
#   Description:    A reusable template to define graphs, 
                    according to the VariableGraph python class,
                    contained within Jinja2.
                    
    Note: Errors here are not errors, it is due to jinja2 insertions
    that are fixed at runtime.
# ================================================================
-->

<canvas id= {{ current_graph.id }}></canvas>
  
<script>
    
    ctx = document.getElementById('{{ current_graph.id | safe }}');

    var variable_datasets = [];

    {% for dataset in current_graph.datasets %}
    var dataset = {
          label: "{{ dataset['label'] | safe }}",
          data: {{ dataset['data'] | safe }},
          borderColor: "{{ dataset['border_color'] }}",
          borderWidth: 1
    };
    variable_datasets.push(dataset);
    {% endfor %}

    {% if current_graph.goal_line is not none %}

    var dataset = {
          label: "Goal",
          data: {{ current_graph.goal_line | safe }},
          borderColor: "rgba(102, 102, 102, 0.4)",
          borderWidth: 1
    };
    variable_datasets.push(dataset);

    {% endif %}

    line_chart = new Chart(ctx, {
      type: '{{ current_graph.type }}',
      data: {
        labels: {{ current_graph.x_labels | safe }},
        datasets: variable_datasets
      },
      options: {
        y: {
            beginAtZero: true
          },
          maintainAspectRatio: false,
          responsive: true,


        plugins: {
            title: {
                display: true,
                text: "{{ current_graph.title | safe }} ",
                color: 'black',
                font: {
                  size: 14,
                  family: 'Courier New'
                }
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    font: {
                      size: 12,
                      family: 'Courier New'
                    }
                }
            }
        }
    }
    });

</script>