<!--    
# ================================================================
#   name:           line_chart.html
#   Description:    A reusable template to define line graphs, 
                    according to the VariableGraph python class,
                    defined within Jinja2.            
# ================================================================
-->

<canvas id= {{ current_graph.id }}></canvas>
  
<script>
    
    ctx = document.getElementById('{{ current_graph.id | safe }}');

    {# ============================================================= #}
    {# Define the datasets in context of javacript                   #}
    {# which will then be used in the chart.                         #}
    {# ============================================================= #}

    var variable_datasets = [];

    {% for dataset in current_graph.datasets %}

      {% if current_graph.scope == 'daily' %}

        var time_data = []

        {% for _ in dataset['data'] %}
          time_data.push({x: new Date("{{current_graph.x_labels[loop.index - 1] | safe }}"), y: {{dataset['data'][loop.index - 1]}}  });
          {% endfor %}

      {% endif %}

    var dataset = {
          label: "{{ dataset['label'] | safe }}",
          
          {% if current_graph.scope == 'daily' %}
            data: time_data,
          {% else %}
            data: {{ dataset['data'] | safe }},
          {% endif %}
          borderColor: "{{ dataset['border_color'] }}",
          borderWidth: 1
    };
    variable_datasets.push(dataset);
    {% endfor %}

    {% if current_graph.goal_line is not none %}

    var dataset = {
          label: "Goal",
          data: {{ current_graph.goal_line | safe }},
          borderColor: "rgba(102, 102, 102, 0.4)",
          borderWidth: 1
    };
    variable_datasets.push(dataset);

    {% endif %}

    {# ============================================================= #}
    {# Create definitiion of new line chart.                         #}
    {# ============================================================= #}
    
    line_chart = new Chart(ctx, {
      type: '{{ current_graph.type }}',
      data: {
        {% if current_graph.scope != 'daily' %}
        labels: {{ current_graph.x_labels | safe }},
        {% endif %}
        datasets: variable_datasets
      },
      options: {
       
          maintainAspectRatio: false,
          responsive: true,
        
        scales: {

          y: {
          beginAtZero: true
          },
          
          {# ============================================================= #}
          {# Create specificial config options if this is a daily chart.   #}
          {# ============================================================= #}
          {% if current_graph.scope == 'daily' %}
          x: {
            type: 'time',
            time: {
              unit: 'day'
            },

            ticks: {
              stepSize: 7
            }
          }
          {% endif %}
          },

        plugins: {
            title: {
                display: true,
                text: "{{ current_graph.title | safe }} ",
                color: 'black',
                font: {
                  size: 14,
                  family: 'Courier New'
                }
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    font: {
                      size: 12,
                      family: 'Courier New'
                    }
                }
            }
        },

        animation: false
    }
    });

</script>