<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<h1 align="center"> {{ participant.name }} </h1>

{% set current_graph = participant.graphs['PE'] %}
{% include 'chart.html' %}
<br>

{% set current_graph = participant.graphs['CE'] %}
{% include 'chart.html' %}
<br>

{% set current_graph = participant.graphs['WE'] %}
{% include 'chart.html' %}
<br>

<table class="calculations-table">
    <tr>
        {% for col_name in participant.tables.columns %}
            <th style="width:5%"> {{ col_name }}</th>
        {% endfor %}
    </tr>
    {% for key, value in participant.tables.iterrows() %}
        <tr>
            {% for col_name in participant.tables.columns %}
            <td>{{ value[col_name] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>





{% endblock %}
