<!--    
# ================================================================
#   Name:           participant html
#   Description:    Defines the participant page and its layout.
# ================================================================
-->
<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<h1 align="center"> -- {{ participant.name }} -- </h1>

<div class="variable-header">
    <h1>Participant Snapshot</h1>
</div>
<br>

<div>
    <div class="chart-card">
        <div class="chart-box">
            {% set current_graph = participant.graphs['totalCalenderInteractions'] %}
            {% include 'chart.html' %}
        </div>
        <div class="chart-box">
            {% set current_graph = participant.graphs['totalEventInteractions'] %}
            {% include 'chart.html' %}
        </div>
    </div>
</div>

<div class="variable-header">
    <h1>Health Tracking Data</h1>
</div>

<div class="row">
    <div class="column">
        
        <div class="chart-box" style="width:700px; height:350px">
        {% set current_graph = participant.graphs['PE'] %}
        {% include 'chart.html' %}
        </div>
        <br>

        <div class="chart-box" style="width:700px;height:350px">
        {% set current_graph = participant.graphs['CE'] %}
        {% include 'chart.html' %}
        </div>
        <br>

        <div class="chart-box" style="width:700px;height:350px">
        {% set current_graph = participant.graphs['WE'] %}
        {% include 'chart.html' %}
        </div>

    </div>
    <div class="column">
        <br>
        {% set current_graph = participant.graphs['h_goals'] %}
        {% include 'chart.html' %}
        <br>
    </div>
</div>
<br><br>

<div class="variable-header">
    <h1>General Use Data</h1>
    <h3>-- Today Page --</h3>
</div>

<table class="calculations-table">
    <tr>
        {% for col_name in participant.tables.columns %}
            <th style="width:5%"> {{ col_name }}</th>
        {% endfor %}
    </tr>
    {% for key, value in participant.tables.iterrows() %}
        <tr>
            {% for col_name in participant.tables.columns %}
            <td>{{ value[col_name] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>





{% endblock %}
