<p id="demo"></p>

<div class="pie-container">

  <!-- Full-width slides/quotes -->
  <div class="pie-div">
    <canvas id="myChart" width="300px" height="300px" style="border:0px solid #000000;">
    </canvas>
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusCharts(-1)">&#10094;</a>
  <a class="next" onclick="plusCharts(1)">&#10095;</a>
  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  
  </div>
</div>

<script>

  var pie_variable_datasets = [];
  var pie_dataset_labels = [];
  var pie_dataset_b_colors = [];
  var graph_titles = [];

  var pv_dataset = [];
  var pv_labels = [];
  var pv_border_color = [];
  var title = "";

  {% for dataset in current_graph.datasets %}
  
  pv_dataset = {{ dataset['data'] | safe }};
  pv_labels = {{ dataset['labels'] | safe }};
  pv_border_color = {{ dataset['border_color'] | safe }};
  title = "{{ dataset['title'] | safe }}";
  
  pie_variable_datasets.push(pv_dataset);
  pie_dataset_labels.push(pv_labels);
  pie_dataset_b_colors.push(pv_border_color);
  graph_titles.push(title);
  
  {% endfor %}
  
  ctx = document.getElementById('myChart');

  pie_chart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: pie_dataset_labels[0],
      datasets: [{
        data: variable_datasets[0],
        backgroundColor: pie_dataset_b_colors[0],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,

      plugins: {
            title: {
                display: true,
                text: graph_titles[0],
                color: 'black',
                font: {
                  size: 14,
                  family: 'Helvetica Neue'
                }
            }
        }
    }
  });
</script>

<script>
  var chartIndex = pie_variable_datasets.length - 1;
  showCharts(chartIndex);



  function plusCharts(n) {
    showCharts(chartIndex + n);
  }

  function currentSlide(n) {
    showCharts(n);
  }

  function showCharts(n)
  {
    
    var i;
    var dots = document.getElementsByClassName("dot");

    if (n >= dots.length)
    {
      chartIndex = 0;
    }
    else if (n < 0)
    {
      chartIndex = dots.length - 1;
    }
    else
    {
      chartIndex = n;
    }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    dots[chartIndex].className += " active";

    pie_chart.data.datasets[0].data = pie_variable_datasets[chartIndex];
    pie_chart.data.datasets[0].backgroundColor = pie_dataset_b_colors[chartIndex];
    pie_chart.data.labels = pie_dataset_labels[chartIndex];
    pie_chart.options.plugins.title.text = graph_titles[chartIndex];
    
    pie_chart.update(); 

  }

</script>

