
  <div class="chart-container">

    <!-- Full-width slides/quotes -->
    <div class="chart-div">
      <canvas id= {{ current_graph.id }} width="500px" height="200px" style="border:0px solid #000000;" margin="auto;">
      </canvas>
    </div>
  
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusCharts(-1)">&#10094;</a>
    <a class="next" onclick="plusCharts(1)">&#10095;</a>
    <!-- Dots/bullets/indicators -->
    <div class="dot-container">

      {% for _ in current_graph.datasets %}
        <span class="dot" onclick="currentSlide({{loop.index0}})"></span>
      {% endfor %}
    
    </div>
  </div>

<script>

function hexToRgb(hex) {
  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
  return result ? {
    r: parseInt(result[1], 16),
    g: parseInt(result[2], 16),
    b: parseInt(result[3], 16)
  } : null;
}
  var progress_variable_datasets = [];
  var progress_dataset_labels = [];
  var progress_dataset_border_colors = [];
  var progress_dataset_background_colors = [];

  var progress_graph_titles = [];

  var progress_dataset = [];
  var progress_labels = [];
  var progress_border_color = [];
  var title = "";
  var progress_background_color = [];

  
  {% for dataset in current_graph.datasets %}
  
  progress_dataset = {{ dataset['data'] | safe }};
  progress_labels = {{ dataset['labels'] | safe }};
  
  progress_border_color = {{ dataset['border_color'] | safe }};
  progress_background_color = [];

  progress_border_color.forEach((colorHex, index) => {
    var colorRGB = hexToRgb(colorHex);
    progress_background_color.push(`rgba(${colorRGB.r}, ${colorRGB.g}, ${colorRGB.b}, 0.2)`);
  });

  title = "{{ dataset['title'] | safe }}";
  
  progress_variable_datasets.push(progress_dataset);
  progress_dataset_labels.push(progress_labels);
  progress_dataset_border_colors.push(progress_border_color);
  progress_dataset_background_colors.push(progress_background_color);
  
  progress_graph_titles.push(title);
  
  {% endfor %}

// setup 
const data = {
      labels: progress_dataset_labels[0],
      datasets: [{
        data: progress_variable_datasets[0],
        borderColor: progress_dataset_background_colors[0],
        backgroundColor: progress_dataset_border_colors[0],
        borderWidth: 0,
        borderSkipped: false,
        borderRadius: 5,
        barPercentage: 0.2,
        categoryPercentage: 0.8,
        scaleLineColor: "rgba(0,0,0,0)" 
      }]
    };

    //progressBar plugin block
    const progressBar = {
      id: 'progressBar',
      beforeDatasetDraw(chart, args, pluginOptions)
      {
        const {ctx, data, chartArea: {top, bottom, left, right, width, height}, 
        scales: {x, y}} = chart;

        ctx.save();
        const barHeight = height / y.ticks.length * data.datasets[0].barPercentage * data.datasets[0].categoryPercentage;

        
        data.datasets[0].data.forEach((datapoint, index) => {

          //labelText
          const fontSizeLabel = 12;
          ctx.font = `${fontSizeLabel}px Courier New`;
          ctx.fillStyle = 'rgba(102, 102, 102, 1)';
  
          ctx.textAlign = 'left';
          ctx.textBaseline = 'middle';
          ctx.fillText(data.labels[index], left, y.getPixelForValue(index) - fontSizeLabel - 5);
          
          //valueText
          const fontSizeDatapoint = 15;
          ctx.font = `bolder ${fontSizeDatapoint}px Courier New`;
          ctx.fillStyle = 'rgba(102, 102, 102, 1)';
  
          ctx.textAlign = 'right';
          ctx.textBaseline = 'middle';
          ctx.fillText(datapoint, right, y.getPixelForValue(index) - fontSizeDatapoint - 3);
          
          // bg color progress bar
          ctx.beginPath();
          ctx.fillStyle = data.datasets[0].borderColor[index];
          ctx.fillRect(left, y.getPixelForValue(index) - (barHeight / 2), width, barHeight);
        })
      }
    }


    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        indexAxis : 'y',
        plugins: {
          title: {
                display: true,
                text: progress_graph_titles[0],
                color: 'black',
                font: {
                  size: 14,
                  family: 'Courier New'
                }
            },
          legend: {
            display: false
          }
        },
        scales: {
          
          x: {
            min: 0,
            max: {{ current_graph.progress_max | safe }},
            grid : {
              display: false,
              drawBorder: false,
              tickLength: 0
            },
            ticks: {
              display: false,
            }
          },
          y: {
            beginAtZero: true,
            grid : {
              display: false,
              drawBorder: false,
              tickLength: 0
            },
            ticks: {
              display: false,
            }
          }
        }
      },
      plugins: [progressBar]
    };

    // render init block
    progressChart = new Chart(
      document.getElementById('{{ current_graph.id | safe }}'),
      config,
    );

</script>

<script>
  var chartIndex = progress_variable_datasets.length - 1;
  showCharts(chartIndex);

  function plusCharts(n) {
    showCharts(chartIndex + n);
  }

  function currentSlide(n) {
    showCharts(n);
  }

  function showCharts(n)
  {
    
    var i;
    var dots = document.getElementsByClassName("dot");

    if (n >= dots.length)
    {
      chartIndex = 0;
    }
    else if (n < 0)
    {
      chartIndex = dots.length - 1;
    }
    else
    {
      chartIndex = n;
    }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    dots[chartIndex].className += " active";

    progressChart.data.datasets[0].data = progress_variable_datasets[chartIndex];
    progressChart.options.plugins.title.text = progress_graph_titles[chartIndex];
    
    progressChart.update(); 

  }

</script>