.participant-table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.participant-table tr, .participant-table th
{
    border: 1px solid black;
    padding: 8px;
}

.calculations-table th, td
{
    border: 1px solid;
}