/* =========================================================
    This css file defines all style for the EMMA Dashboard
    pages.

    Created by: Reagan Kelley
 =========================================================== */


 /* Defines how all graphs by chart.js will look like. */
canvas{
    margin: 0 auto;
    }

/* Big header that divides the EMMA variable sections for the Participant page. */
.variable-header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* Features for the Participant Table at the EMMA Dashboard index. */
.participant-table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

/* Features for the Participant Table rows and header. */
.participant-table tr, .participant-table th
{
    border: 1px solid black;
    padding: 8px;
}

/* Features for the Calculations Table at the EMMA Dashboard Participant page. */
.calculations-table th, td
{
    border: 1px solid;
}

/* Used to define a 3 column page layout.*/
.column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}





/* Slideshow container */
.pie-container {
    position: relative;
    width:fit-content;
    margin: auto;
  }
  
  /* Slides */
  .pie-div {
    padding: 30px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #000000;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

